*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

@font-face {
		font-weight: normal;
		font-style: normal;
		font-family: 'ecoicons';
		src: url("../fonts/ecoicons/ecoicons.eot");
		src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

/* Icomoon.com */

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		height: -webkit-fill-available;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 50px;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		font-size: 13px;
		z-index: 200000000;
}

.gn-menu-main a {
		display: block;
		/* height: 100%; */
		color: #5f6f81;
		text-decoration: none;
		cursor: pointer;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: 1px solid #c6d0da;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #c6d0da;
		background: white;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-menu-wrapper.gn-open-all {
		width: 340px;
		overflow-y:scroll;
		
}


.gn-scroller {
		position: absolute;
		width: 341px;
		height: 100%;
		background-color: #4e4b4b;
}

/*.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
		background-color: #040707;

}*/

 .cont-disabled{
		  display: none;
	  }

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		/* box-shadow: inset 0 1px #c6d0da */
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding:12px;
		width: 82%;
		margin:10px;
		outline: none;
		border: none;
		background: #fff;
		color: #5f6f81;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: #000;
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: #000;
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: #000;
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: #000;
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: #000;
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: white;
		box-shadow: 0 3px #fff, 0 -6px white, 0 -9px #000, 0 -12px white;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		
		box-shadow: 0 3px #fff, 0 -6px white, 0 -9px #000, 0 -12px white;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

/*.gn-menu-wrapper.gn-open-all {
		width: 340px
}*/

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}

#contain-order {
	background-color: #8f8f98;
	
	margin-bottom: 5px;
	width: 97%;
	/* margin:3px; */
}

#order-title {
	padding: 10px;
	margin: 0px;
	line-height: 5px;
}
#order-title span {
	font-weight: bold;

}


#order-head {
	padding: 0px;
	margin: 0px;
	line-height: 10x;
}

#order-body {
	line-height: 20px;
	padding: 0px;
	text-align: left;
	margin: 4px;
	background: #8f8f98 !important;
}

#order-body p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;

}
#order-head p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;

}

#map-container {
	padding-top: 10px;
}

#order-left {
	float:left;
	width: 70px;
	height: 70px;
	margin-top:5px;
}
.btn-orders {
background-color: #000;
color: #fff;
border: none;
border-radius: 2px;
}

.btn-orders:hover {
	background-color: #999;
	color: #fff;
	border: 1px solid #000;
	border-radius: 2px;
}

.btn-orders-view {
	background-color: #151717;
	color: #fff;
	border: none;
	border-radius: 2px;
	}

	.btn-orders-view:hover {
		background-color: #999;
		color: #fff;
		border: 1px solid #000;
		border-radius: 2px;
	}



	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 22px;
		float: right;
		margin-top:5px;
	  }
	  
	  .switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	  }
	  
	  .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	  }
	  
	  .slider:before {
		position: absolute;
		content: "";
		height: 15px;
		width: 20px;
		left: 1px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	  }
	  
	  input:checked + .slider {
		background-color: #FCA62E;
	  }
	  
	  input:focus + .slider {
		box-shadow: 0 0 1px #FCA62E;
	  }
	  
	  input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	  }
	  
	  /* Rounded sliders */
	  .slider.round {
		border-radius: 34px;
	  }
	  
	  .slider.round:before {
		border-radius: 50%;
	  }

	  .btn-zoom {
		background: transparent;
		background-color: transparent;
		border-color: transparent;
	  }

	  

	  .btn-zoom-opts {
		padding-top:3px;
		padding-bottom:3px;
		margin-right: 23px;
		background: transparent;
		background-color: transparent;
		border-color: transparent;
	  }

	  .btn-zoom-opts-active {
		background-color: #FCA62E;
		padding-top:3px;
		padding-bottom:3px;
		border-radius: 60%;
		margin-right: 23px;
		border-color: transparent;
	  }
	  .w3-black {
		  padding-top:5px;
		  padding-left:10px;
		  background-color: rgb(78, 75, 75);

	  }
	  .w3-container {
		background-color: rgb(78, 75, 75);
		margin:0px;
		padding:0px;
		color:#fff;
	  }

	


	  .btn-image {
		background: transparent;
	  }
	  .active{
		  display:initial;
	  }
	  .disabled{
		  display: none;
	  }
	  .custom-disabled{
	  	pointer-events: none;
	  	opacity: .7;
	  }
	  input.gn-search-opts:active, input.gn-search-opts:focus {
		background-color: #fff !important;
		width: 88% !important;
		color:#000;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
		margin-left:0px;
		padding:12px;
		border-right: 3px solid #000;
	  }


	  input.gn-search-opts {
		position: relative;
		z-index: 10;
		padding:14px;
		width: 90%;
		outline: none;
		
		border: none;
		background-color: rgb(78, 75, 75);
		color: #fff;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
		border-bottom: 1px solid #fff;
}


.gn-location-opts2 {
	position: relative;
	z-index: 10;
	padding:14px;
	width: 100%;
	outline: none;
	
	border: none;
	background-color: rgb(78, 75, 75);
	color: #fff;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	cursor: pointer;
	border-bottom: 1px dotted #fff;
}


.gn-location-opts {
	position: relative;
	z-index: 10;
	padding:14px;
	width: 100%;
	outline: none;
	
	border: none;
	background-color: rgb(78, 75, 75);
	color: #fff;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
.gn-location-opts:active,.gn-location-opts:focus {
	background-color: #fff !important;
	color: #000;
}
.gn-location-opts2:active,.gn-location-opts2:focus {
	background-color: #fff !important;
	color: #000;
}


/* Active Placeholder*/

input.gn-search-opts:active, input.gn-search-opts:focus ::-moz-placeholder {
	color: #000 !important;
}

input.gn-search-opts:active, input.gn-search-opts:focus ::-webkit-input-placeholder {
    color: #000 !important;
}
input.gn-search-opts:active, input.gn-search-opts:focus :-moz-placeholder {
    /* FF 4-18 */
    color: #000 !important;
    opacity: 1;
}
input.gn-search-opts:active, input.gn-search-opts:focus::-moz-placeholder {
    /* FF 19+ */
    color: #000 !important;
    opacity: 1;
}
input.gn-search-opts:active, input.gn-search-opts:focus:-ms-input-placeholder {
    /* IE 10+ */
    color: #000 !important;
}
input.gn-search-opts:active, input.gn-search-opts:focus::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
}
input.gn-search-opts:active, input.gn-search-opts:focus::placeholder {
    /* modern browser */
	color: #000 !important;
}

/* END OF Active Placeholder*/


/*  Not Active Placeholder*/

input.gn-search-opts ::-moz-placeholder {
	color: #fff !important;
}

input.gn-search-opts ::-webkit-input-placeholder {
    color: #fff !important;
}
input.gn-search-opts :-moz-placeholder {
    /* FF 4-18 */
    color: #fff !important;
    opacity: 1;
}
input.gn-search-opts::-moz-placeholder {
    /* FF 19+ */
    color: #fff !important;
    opacity: 1;
}
input.gn-search-opts:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important;
}
input.gn-search-opts::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
}
input.gn-search-opts::placeholder {
    /* modern browser */
	color: #fff !important;
}

/* END OF  Not Active Placeholder*/










	  /* pop up */
	
	.main-content {
		height: 800px;
		width: 1000px;
		margin: 0 auto;
	}
	
	.overlay-bg {
		display: inline;
		position: absolute;
		top: 0;
		left: 0;
		height:100%;
		width: 100%;
		cursor: pointer;
		z-index: 1000; /* high z-index */
		background: #000; /* fallback */
		background: rgba(0,0,0,0.75);
	}
		.overlay-content {
			display: inline;
			background: #fff;
			width: 25%;
			position: absolute;
			top: 15%;
			left: 60%;
			margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
			cursor: default;
			z-index: 10001;
			border-radius: 4px;
			box-shadow: 0 0 5px rgba(0,0,0,0.9);
		}

		.overlay-content-head {
			background-color: #000;
		}
		.overlay-content-body {
			background-color: #fff;
			width: auto;
			margin-top:40px;
			

		}

		.overlay-content-head h1 {
			margin: 0px;
			padding: 9px;
			color: #fff;
			font-size: 14px;
		}

		.poly-head {
			width: 80%;
			float: left;
			background-color: #000;
			
		}

		.poly-close {
			width: 20%;
			float: right;
			background-color: #000;
			border-left:  1px solid #fff;
			
		}
		.overlay-content-body-1 {
			width: 80%;
			float: left;
			padding: 5px;

		}

		.overlay-content-body-1-input {
			width: 100%;
		}
		.overlay-content-body-1-input input {
			width: 100%;
			padding: 10px;
			background: #d9dbdd;
			color: #151717;
			border: none;
		}

		#btn-search-overlay {
			background-color: #151717;
			color:#fff;


		}
		#verlay-content-body-1-input ::placeholder {
			color:#000;
		}

		.overlay-content-body-1 h3 {
			margin: 0px;
			padding: 0px;
			font-size: 15px;
			padding-left: 5px;
			color: #5f6f81;
			text-align: left;
		}
		.color-picker {
			width: 100%;
		}

		.overlay-content-body-2 {
			width: 20%;
			float: right;
			padding: 5px;
			

		}
		.over-all-body {
			background-color: rgb(228, 228, 228);
			height: 80px;
			margin-top: 5px;
			
		}
		.over-all-body-input {
			background-color: rgb(228, 228, 228);
			height: auto;
			margin-top: 5px;

		}
		.title-overlay-main {
			padding-left: 10px;
			margin-top:5px !important;
			color:#000;
			text-align: left;
		}


		.close-btn-nill{
			cursor: pointer;
			border-color: transparent;
			background:transparent; /* fallback */
			color:#fff;
		}
		
		.close-btn-nill-small{
			cursor: pointer;
			border-color: #14c7b73b;
			background: #0b171f52;
			color:#fff;
			width: 4px;
			float:right;
		}

		
		
	
		.close-btn {
			cursor: pointer;
			border-left:  1px solid #fff;
			border-color: transparent;
			padding-bottom: 7px;
			padding-top: 7px;
			width: 100%;

			background:transparent; /* fallback */
			box-shadow: 0 0 4px rgba(0,0,0,0.3);
			color:#fff;
		}
		.close-btn:hover {
			background: #FCA62E;
			
		}
	
	/* media query for most mobile devices */
	@media only screen and (min-width: 0px) and (max-width: 480px){
	
		.overlay-content {
			width: 96%;
			margin: 0 2%;
			left: 0;
		}
	}

	  /* end of pop up */

	   /* tool tip*/

	
	   
	   /* this sets the scene */
	   
	   .tooltip {
		/* width: 40rem;*/
		 text-align: center;
		/* margin: 14rem auto;*/
		 position: fixed;
		 z-index: 444444444;
		   transition: all ease .5s;    

	   }
	   
	   /* here's where the magic happens */
	   
	   .tooltip--container {
		 position: absolute;
		 z-index:0;
		 top: calc(-100% - 2.5rem);
		 left: 50%;
		 width: 400px;
		 height: 60px;
		 transform: translateX(-50%);
		   transition: all ease .5s;    

	   }


	   .tooltip--container-small {
		position: absolute;
		z-index:0;
		top: calc(-100% - 2.5rem);
		left: 100%;
		transform: translateX(-50%);
		width: 100px;
	  }
	   
	   .tooltip--text:before,
	   .tooltip--text:after{
		 display: block;
		 content: "";
		 position: absolute;
		 z-index: -100;
		 width: 50%;
		 top: 0;
		 bottom: 0;
		 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
		 transition: transform 200ms ease-out;
	   }
	   
	   .tooltip--text:before {
		 left: 0;
		 border-bottom-right-radius: 1rem;
	   }
	   
	   .tooltip--text:after{
		 right: 0;
		 border-bottom-left-radius: 1rem;
	   }
	   
	   .tooltip--text {
		 background: #04070752;
		 height: 60px;

	   }

	   .tooltip-text:hover{
	   	 background-color: #040707;
	   }

	   .tooltip--text-small {
		background: #040707;
		height: 30px;

	  }
	   
	   .tooltip--tip {
		 position: absolute;
		 z-index: -100;
		 display: block;
		 width: 1rem;
		 height: 1rem;
		 background: #04070736;
		 left: 50%;
		 bottom: -0.5rem;
		 transform: 
		   translateX(-50%)
		   rotate(45deg);
		 box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
		 transition: transform 200ms ease-out;
	   }
	   
	   .tooltip--source {
		 font-size: 2rem;
		 line-height: 1.5rem;
		 font-style: italic;
	   }

	   #time-tooltip {
		  
		   width:20%;
		   float:left;
		   padding:12px;
		   font-size: 14px;
		   border-right:  2px solid #fff;

	   }
	   #time-tooltip span {
		   color:#fff;
	   }
	   #pickup-tootip span {
		   color: white;
	   }

	   #close_btn_tootips {
		width:10%;
		float: right;
		color:#fff;
		padding-top:15px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 10px;
		height: 40px;
		border-left:  2px solid #fff;

	   }

	   #pickup-tootip {
		padding:5px;
		width:85%;

	   }

	   #pickup-tootip h1 {
		   margin:0px;
		   padding:0px;
		   font-size: 14px;
		   color:#fff;
	   }

	   #pickup-tootip-small h1 {
		margin:0px;
		padding:5px;
		font-size: 12px;
		color:#fff;
	}
	   
	   /* this stuff is just for show — leave it out of production */
	   
	   .animated,
	   .animated:before
	   .animated:after {
		 transition: transform 200ms ease-out;
	   
	   }
	   
	   
	  /*///////////////////// end of tooltip //////////////////////*/

 /*///////////////////// SUMMARY //////////////////////*/

	  .title { text-align: center; }

.title a {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	font-size: 24px;
	color: #6e6e6e;
	text-decoration: none;
}

.title a:hover { text-decoration: underline; }

.panel {
	/* margin: 15px auto 15px; */
	max-width: 465px;
	letter-spacing: 0.03em;
}

.admin-panel {
	color: #fff;
	padding-left: 10px;
	padding-right:10px;
}

.admin-panel .text {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.admin-panel .fa-cog {
	float: right;
	margin-right: 10px;
	font-size: 20px;
	color: #888888;
}

.admin-panel :hover { cursor: pointer; color: #555555; }

input#toggle { display: none; }
input#toggle ~ .menu-panel { display: none; }
input#toggle:checked ~ .menu-panel { display: block; }

.menu-panel {
	/* margin-top: 14px; */
	background-color: #f8f8f8;
	/* border-radius: 3px; */
	/* width: 400px; */
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
	padding: 1px;

	max-height:400px;
}



.menu-panel .row {
	display: inline-grid;
	justify-content: center;
	align-items: center;
	/* width: 255px; */
	
	margin:5px;
}

.menu-panel .border {
	border:  1px solid #999;
}


.menu-panel .column-left {
	float: left;
	width: 100px;
	
	background-color: #FCA62E;
}


.menu-panel .column-left-progress {
	float: left;
	width: 100px;

}

.menu-panel .column-right {
	float: left;
	/* width: 63%; */
	
	color:#000;
	background-color: #fff;
}

/* Clear floats after the columns */
.menu-panel .row:after {
	content: '';
	display: table;
	clear: both;
}

.menu-panel a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-panel i {
	font-size: 18px;
	width: 25px;
	text-align: center;
}

.menu-panel:hover .row:hover { 
	background: #ebebeb; color: #555555; 
	border:  1px solid #999;
 }

.menu-panel:hover a { color: #bebebe; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* PROGRESS BAR */
.progress{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 77%;
    height: 77%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    /* line-height: 135px; */
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-1 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
	.progress{ margin-bottom: 20px; }
	
}


/* END PROGRESS BAR */




/* These are just a test styles - you don't need them in your project */
body {
  background-color: #444;
  padding-top: 40px;
  font: 15px/1.3 Arial, sans-serif;
  color: #fff;
  text-align: center;
}

a {
  color: orange;
}

.new-tab-link {
  padding-right: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggXDSIzCeRHfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA9SURBVBjTY2RAA/+XMvxHF2NkwAOwacCq4P9Shv8suFQzRiNsYUEXwKoJ2VhkNrIaJgYiAAs2N2BVRMirAD6JHi10MCdVAAAAAElFTkSuQmCC) no-repeat right center;
}

.page-title {
  font: 400 40px/1.5 Open Sans, sans-serif;
  text-align: center;
}

.circles {
  margin-bottom: -10px;
}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

p {
  margin: 40px 0;
}

.install {
  display: inline-block;
}

.install a {
  display: block;
  width: auto;
  vertical-align: middle;
  padding: 6px 12px;
  line-height: 20px;
  background-color: #111;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  margin: 5px auto;
  transition: all .3s;
}

.install code {
  padding: 6px 12px;
  display: block;
  font: 13px/20px Courier New, Liberation Mono, monospase;
  background-color: #333333;
  border-radius: 4px;
  margin: 5px 0;
  white-space: nowrap;
}

.install a:hover {
  background-color: #222;
}

.credits {
  color: #aaa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.credits img {
  margin-left: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

@media (max-height: 600px), (max-width: 480px) {
  .credits {
    position: inherit;
  }
}
/* These are just a test styles - you don't need them in your project */
body {
  background-color: #444;
  padding-top: 40px;
  font: 15px/1.3 Arial, sans-serif;
  color: #fff;
  text-align: center;
}

a {
  color: orange;
}

.new-tab-link {
  padding-right: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggXDSIzCeRHfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA9SURBVBjTY2RAA/+XMvxHF2NkwAOwacCq4P9Shv8suFQzRiNsYUEXwKoJ2VhkNrIaJgYiAAs2N2BVRMirAD6JHi10MCdVAAAAAElFTkSuQmCC) no-repeat right center;
}

.page-title {
  font: 400 40px/1.5 Open Sans, sans-serif;
  text-align: center;
}

.circles {
  margin-bottom: -10px;
}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
     position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 27px;
    font-size: 23px;
    color: black;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

p {
  margin: 40px 0;
}

.install {
  display: inline-block;
}

.install a {
  display: block;
  width: auto;
  vertical-align: middle;
  padding: 6px 12px;
  line-height: 20px;
  background-color: #111;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  margin: 5px auto;
  transition: all .3s;
}

.install code {
  padding: 6px 12px;
  display: block;
  font: 13px/20px Courier New, Liberation Mono, monospase;
  background-color: #333333;
  border-radius: 4px;
  margin: 5px 0;
  white-space: nowrap;
}

.install a:hover {
  background-color: #222;
}

.credits {
  color: #aaa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.credits img {
  margin-left: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

@media (max-height: 600px), (max-width: 480px) {
  .credits {
    position: inherit;
  }
}


/* card view */

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) ;
  max-width: 320px;
  float:right;
  margin-top:100px;
  background-color: #444;
  position: relative;
  text-align: left;
  font-family: arial;
}

.close-btn-nill-small-info-window{
	cursor: pointer;
	border-color: #0b171f52;
	background: #0b171f52;
	color:#fff;
	width: 4px;
	float:right;
}

.card-image {
	text-align: center;
	padding:10px;
	background-color: #f8f8f8;
}

.card-image img {

	border-radius: 80%;
}


.card-image img{
	
	height: 130px;
	background: #f06d06;
	position: relative;
	margin: 20px;
	box-shadow: 
	
	  0 0 0 10px hsl(0, 0%, 70%),
	  0 0 0 15px hsl(0, 0%, 80%),
	  0 0 0 30px hsl(0, 0%, 97%);
  }
  .card-image img:after {
	content: '';
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	border: 5px solid red; 
	background: red;
	z-index: -1;
  }

.card span {
	font-size: 15px;
	font-style: normal;
	margin:0px;
	text-align: left;
}


.span-bold {
	font-weight: bold;
}


.card a {
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #dcdcd9;
}
.card-div {
	border-top: 5px solid #6d675e; 
	padding:10px;
}
.card-div-1 {
	padding:10px;
}


::-webkit-scrollbar {
	width: 4px;
	border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
	border-radius: 0;
	background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #000;
  }


/* floating pane*/
.floating-pane{
	    position: fixed;
    bottom: 10%;
    background: #00000073;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    width: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 9333333333333333333333;
    


}
body:hover  .floating-pane{
	animation: animate-pane .5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}
.active-view{
	background-color: #f9b43dd6;
}

@keyframes animate-pane {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
     -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.floating-pane-tabs{
    padding: 7px;
    border-radius: 20px;
   
}
.floating-pane-tabs:hover{
	background: #f9b43dd6;
}
.floating-pane-tabs img{
	width: 40px;
}
.hide{
	display: none;
}
.show{
	display: inherit;
}



.summery-main-link {
	
  width: 50%;
  margin: auto;
  margin-top:100px;
  background-color: #fff;
  position: relative;
  text-align: left;
  font-family: arial;
}



/*This will work for firefox*/

@supports (-moz-appearance:none) {
.btn-zoom-opts {
	border:none;
	margin-right: 10px;

}
.w3-black {
padding-left: 0px;
}

#contain-order {
	width: 93%;
}

@keyframes animate-pane {
	0% {
	  -webkit-transform: translateX(-80px);
			  transform: translateX(-80px);
	}
	100% {
	   -webkit-transform: translateX(5px);
			  transform: translateX(5px);
	}
  }

  ::-webkit-scrollbar {
	width: 4px;
	border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
	border-radius: 0;
	background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #000;
  }

  .summery-main-link {
	  width: 51%;
  }


}

/*End of This will work for firefox*/


.menu-panel2 {
	/* margin-top: 14px; */
	background-color: #f8f8f8;
	/* border-radius: 3px; */
	 width: auto;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
	padding: 1px;
}

.menu-panel2 .row {
	display: inline-grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 213px;
	
	margin:5px;
}

.menu-panel2 .row h1 {
	text-align: center;
}

.menu-panel2 .border {
	border:  1px solid #999;
}


.menu-panel2 .column-left {
	width: 211px;
	height: 65px;
	text-align: center;
    padding: 10px;
	
	background-color: #FCA62E;
}


.menu-panel2 .column-left-progress {
	float: left;
	width: 100px;

}

.menu-panel2 .column-right {
	text-align: center;
    padding: 10px;
	color:#000;
	background-color: #fff;
	height: 52px;
	font-size: 16px;
}

/* Clear floats after the columns */
.menu-panel2 .row:after {
	content: '';
	display: table;
	clear: both;
}

.menu-panel2 a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-panel2 i {
	font-size: 18px;
	width: 25px;
	text-align: center;
}

.menu-panel2:hover .row:hover { 
	background: #ebebeb; color: #555555; 
	border:  1px solid #999;
 }

.menu-panel2:hover a { color: #bebebe; }

.pick-up-location-header {
	border:  1px solid #fff;
	width: 400px;
	margin-left: 70px;
	margin-top: 2px;
	height: 46px;

}
.pick-up-content-head {
	line-height: 0px;
	color:#fff;
	font-weight: bold;
	padding: 5px;
}
.pick-up-content {
	margin-top: 5px;
}

.pick-up-content-body {
	line-height: 25px;
}
.pick-up-timer-header {
	float: left;
	width: 70px;
	margin: 0px;
	padding: 0px;
	height:45px;
	line-height: 15px;
	padding: 5px;
	border-right:  1px solid #fff;
}
.isolate-active{
	background-color: #FCA62E;
}