  /* Client-specific Styles */
											
  .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
  /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
  /*STYLES*/
  /*################################################*/
  /*IPAD STYLES*/
  /*################################################*/
  @media only screen and (max-width: 640px) {
  a[href^="tel"], a[href^="sms"] {
  text-decoration: none;
  color: #ffffff; /* or whatever your want */
  pointer-events: none;
  cursor: default;
  }
  .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
  text-decoration: default;
  color: #ffffff !important;
  pointer-events: auto;
  cursor: default;
  }
  table[class=devicewidth] {width: 440px!important;text-align:center!important;}
  table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
  table[class="sthide"]{display: none!important;}
  img[class="bigimage"]{width: 420px!important;height:219px!important;}
  img[class="col2img"]{width: 420px!important;height:258px!important;}
  img[class="image-banner"]{width: 440px!important;height:106px!important;}
  td[class="menu"]{text-align:center !important; padding: 0 0 10px 0 !important;}
  td[class="logo"]{padding:10px 0 5px 0!important;margin: 0 auto !important;}
  img[class="logo"]{padding:0!important;margin: 0 auto !important;}
  }
  /*##############################################*/
  /*IPHONE STYLES*/
  /*##############################################*/
  @media only screen and (max-width: 480px) {
  a[href^="tel"], a[href^="sms"] {
  text-decoration: none;
  color: #ffffff; /* or whatever your want */
  pointer-events: none;
  cursor: default;
  }
  .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
  text-decoration: default;
  color: #ffffff !important;
  pointer-events: auto;
  cursor: default;
  }
  table[class=devicewidth] {width: 280px!important;text-align:center!important;}
  table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
  table[class="sthide"]{display: none!important;}
  img[class="bigimage"]{width: 260px!important;height:136px!important;}
  img[class="col2img"]{width: 260px!important;height:160px!important;}
  img[class="image-banner"]{width: 280px!important;height:68px!important;}
  }


  .neworder{
    border-top: 0;
    margin-bottom: 1.5em;
    position: relative;
    table-layout: fixed;
    width: 100%;
    z-index: 1;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
}

.theadorder {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
   
}

.neworder, .td_order, .td_order {
    border: 1px solid #000;
}
.tr_order {
    border-bottom: 1px solid #000;
}


.render .neworder {
    border-collapse: collapse;
}

.tr_order {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


.neworder th, .neworder td {
    font-family: inherit;
    font-size: inherit;
    padding:7px;
    text-align: center;
}
.neworder, .neworderspan {
    text-align: center;
}
.neworder span {
    text-align: right;
}

/* #neworderspan{
    text-align: right;
} */


#difdesign {
    width: 200px !important;
    text-align: right;
}

th {
    /* background: rgba(0,0,0,.05); */
    font-weight: 700;
}


tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.neworder {
    border-collapse: collapse;
}


.neworder tr {
    border-bottom: 1px solid #000;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

  @media print {
   .bg {
    background-color: #FAA81A !important;
   }
}

.bg {
    background-color: #FAA81A;
   }

   .bgtable {
    background-color: #FAA81A;
    color:#fff;
   }

   .bgtablefoot {
    background-color: #FAA81A;
    color:#000;
    text-align: center;
    padding: 5px;
   }

   .bgtablefoot2 {
       margin-top:40px;
   }



@media (min-width: 1200px){
.container-invoce {
    width: 60% !important;
   
}
}

@media (max-width: 700px){
    .container-invoce {
        width: 90% !important;
        margin:5% !important;
       
    }
    }
.td_bold {
    font-weight:900;
}
.div-right {
    float: right;
    margin-bottom: 40px;
}