/*HOME SCREEN*/
body{
    width: 100vh;
    height: 100vh;
    background-color: #3baba0;/*rgba(74, 171, 219, 0.5);*/
}
.contain{
    height: 780px;
    padding-top: 25%;
    background-color: #dff0d8;
}
.nav{
    height: 50px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.tms:hover{
    background-color: #e8fdee;
    border-radius: 20px ;
}
#svg4052{
    position: relative;
    z-index: 10;
    right: 0px;
    -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    /*animation-name: fadeIn infinite;*/
    /*animation-duration: 3s;*/
    animation: fadeIn 15s /*infinite*/;
}
.logoA{
     animation: jumpIn 15s  ease ;
 }
.logoK{
    animation: jumpIn 15s 0.5s ease ;
}

.logoC{
    animation: jumpIn 15s 1s ease ;
}
.logoU{
    animation: jumpIn 15s 1.5s ease ;
}
.logoR{
    animation: jumpIn 15s 2s ease ;
}
.logoT{
    animation: jumpIn 15s 2.5s ease ;
}
.brand{
    position:fixed;
    right: 100px;
    top: 0px;
}
.navbar-brand {
    height: 40px;
    padding: 5px 5px;
    margin-top:5px;
}
@keyframes fadeIn {
    0%   { right:-900px; top:0px;}
    40%  { right:-500px; top:0px;}
    80%  { right:-200px; top:0px;}
    85%  { right:-150px; top:0px;}
    90%  { right:-100px; top:0px;}
    95%  { right: 0px; top:0px;}
    100%  { right:0px; top:0px;}

}
@keyframes jumpIn {
    0%   { opacity: 0; top:-1000px}
    10%   { opacity: 0;}
    20%   { opacity: 0;}
    30%   { opacity: 0;}
    40%   { opacity: 0;}
    50%   { opacity: 1;}
    60%   { opacity: 1;}
    70%   { opacity: 1;}
    80%   { opacity: 1;}
    90%   { opacity: 1;}
    100%  { opacity: 1; top:0px}

}



@media all and (max-width: 600px) and (min-width: 401px) {

    .logoT{
        animation: jumpIn 15s  ease infinite;
    }
    .logoR{
        animation: jumpIn 15s 0.5s ease infinite;
    }

    .logoU{
        animation: jumpIn 15s 1s ease infinite;
    }
    .logoC{
        animation: jumpIn 15s 1.5s ease infinite;
    }
    .logoK{
        animation: jumpIn 15s 2s ease infinite;
    }
    .logoA{
        animation: jumpIn 15s 2.5s ease infinite;
    }

    .contain{
         border-bottom: 1px solid #232323;
        height: 400px;
        padding-top: 10%;
       
    }
    .bottom{
        font-size: 70%;
    }
}

@media all and (max-width: 400px) and (min-width: 100px) {
    .navbar-brand {
        float: left;
        height: 30px;
        padding: 5px 5px;
        font-size: 10px;
        margin-top:10px;
        line-height: 10px;
    }
    .logoT{
        animation: jumpIn 15s  ease infinite;
    }
    .logoR{
        animation: jumpIn 15s 0.5s ease infinite;
    }

    .logoU{
        animation: jumpIn 15s 1s ease infinite;
    }
    .logoC{
        animation: jumpIn 15s 1.5s ease infinite;
    }
    .logoK{
        animation: jumpIn 15s 2s ease infinite;
    }
    .logoA{
        animation: jumpIn 15s 2.5s ease infinite;
    }

    .contain{
        border-bottom: 1px solid #232323;
        height: 400px;
        padding-top: 10%;
       
    }
    .bottom{
        font-size: 50%;
    }
}

@media all and (max-width: 764px) and (min-width: 601px) {
    .brand{
        position:fixed;
        left: 200px;
        top: 0px;
    }
    .logoT{
        animation: jumpIn 15s  ease infinite;
    }
    .logoR{
        animation: jumpIn 15s 0.5s ease infinite;
    }

    .logoU{
        animation: jumpIn 15s 1s ease infinite;
    }
    .logoC{
        animation: jumpIn 15s 1.5s ease infinite;
    }
    .logoK{
        animation: jumpIn 15s 2s ease infinite;
    }
    .logoA{
        animation: jumpIn 15s 2.5s ease infinite;
    }

    .contain{
        border: 20px solid #C6FF00;
        height: 450px;
        padding-top: 10%;
    }
    .bottom{
        font-size: 80%;
    }
}