body{
    padding: 0;
    margin:0;
    height: 100%;
    margin-right:-15px;


}
.type{
    border: 1px solid #F8D73A;
    margin: 2px;
    font-family: 'Concert One', cursive;
    color: #17f1dd;
}
.identifier{
    z-index:25;
    margin:2% 25% 2% 25%;
}
.create_order{
    border-radius:10px;
    height: 50px;
    font-family: Roboto;
    font-size:150%;
    font-weight: bolder;
}
.navbar_toggle{
    border:2px solid #ffffff;
}
.tmsa{
    width: 100%;
    height: auto;
    background-color: #232323;
    font-family: 'Josefin Sans', sans-serif;
}
.home_icon_a{

    color:#449d44;
    z-index: -10;

}

.home_icon{
    padding:10px 0 0 20px;

}
.side_bar{
    margin: 0;
    padding:0;
    height: 100vh;
    color: #cccccc;
    background-color: #232323;
}
.view-order{
    margin-left: 15%;
    margin-right: 0%;
    background: #ffffff;
    margin-top:0%;
    margin-bottom: 20px;
}
.tmsa_main_body{
    height: 100vh;
    background-color: #ffffff;
}
div.tmsa_user_page{
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    height:100%;
}
div.tmsa_user_page_login{
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.tsma_form{
    padding-top:10%;
    margin-top:10%;
    border-radius:10px;
    padding-bottom: 10px;
    padding-right: 5%;
    padding-left:5%;
    background: rgba(59,171,160, 0.1);


}
.button_login{
    background: #ffffff;
    border: 2px solid #17f1dd;
    border-radius: 10px;
   height: 35px;

}
.button_logina{
    background: #ffffff;
    border: 2px solid #17f1dd;
    border-radius: 10px;
    width: 130px; height: 35px;
    margin: auto;

}
.side_list{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    line-height: 50px;
}
.list{
    padding-left: 43%;
    padding-right: 43%;
    padding-top: 10px;
    padding-bottom: 10px;


}
.list:hover{
    background: #cccccc;
    border-radius: 5px;
}
.li{
    margin:0;
}
/*********************************/

.nav {
    margin-top: 50px;
    background: #232323;
    margin-left:0px;
    top:0;
    margin-bottom: 0px;
    position:absolute;
    /*height: 100%;*/
}
.nava{
    padding-top: 0%;
    background: rgba(74, 171, 219, 0.5);
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: rgba(255,255,255, 0.3);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #f8d73a;
    font-size:130%;

}
.dropdown {
    background:#232323;
    border-bottom: 2px solid #F8D73A;
    width:80%;
    margin-bottom: 0px;
    color: #C6FF00;
}
.dropdown:hover{
    border-bottom:4px solid  #17f1dd;
}

.dropdown>a {
    color: #17f1dd;
}
.dropdown-menu>li>a {
    color:#3baba0;

}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:-50px;
    width:300px;
    margin-left: 265px;
    background-color: #232323;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    position: absolute;
    top: 0px;
    left: -9px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 100px;
    z-index: 9;
}
.admin_header{
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border-radius:10px;
}
/*****************************USER DETAILS************************/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.input{
    margin-left:20%;
    margin-right: 20%;
    margin-bottom: 3%;"
}

/*******************TSMA MEDIA QUERRY**************/
@media all and (max-width: 400px) and (min-width: 100px) {
    .side_bar {
        background-color: #3baba0;
        height: auto;
    }
    .text-primary {
        color: #e6a756!important;
    }
    .tmsa{
        background-color: transparent;
    }
    .invoice_header{
        font-size: 50%;
    }
    .invoice_body{
        font-size: 50%;
    }
    body{
        height:100vh;
        width: auto;
        background-color: #ffffff;
    }
    .home_icon{
        padding-left:10%;
    }
    .tmsa_main_body{
        height: 100vh;
        background-color: #ffffff;
    }
    .nav {

        padding-top: 0%;
    }
    .navbar-header{
        z-index:10;
    }
    .toppad{
        margin-left:5px;
    }
    .dropdown{
        width:300px;
    }
    .dropdown ul.dropdown-menu {
        margin-left: 0;
    }
    div.tmsa_user_page{
        padding-top: 5%;
        margin-left: 0;
        margin-right: 0;
    }
    .panel_foot{
        font-size: 50%;
    }
    .view-order{
        margin-left: 1%;
        margin-right: 1%;

    }
    .input{
        margin-left:0%;
        margin-right: 0%;
        margin-bottom: 3%;"
    }
    .button_login{
        /*margin-left: 20%;*/
        /*margin-right: 25%;*/
    }
    .button_logina{

    }
    div.tmsa_user_page_login {
        padding-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        width:auto;
    }
    .tmsa_login{
        width:400px;
    }
    .tmsa_row{
        width:400px;
    }
    .tsma_form {
        padding-top: 8%;
        padding-right: 5%;
        padding-left: 5%;
        background: rgba(59, 171, 160, 0.1);
        margin-left: 10%;
        margin-right:10%;
        margin-top:10%;
    }
    .tmsa_main_body {
        height: auto;
    }
    .create_order{
        height: 30px;
        font-size:80%;
        font-weight: bolder;
    }
    .h4{
        font-size:50%;
    }

}
@media all and (max-width: 600px) and (min-width: 401px) {
    .side_bar {
        background-color: #3baba0;
        height: auto;
    }
    .text-primary {
        color: #e6a756!important;
    }
    .invoice_header{
        font-size: 70%;
    }
    .invoice_body{
        font-size: 70%;
    }
    body{
        height: auto;
    }
    .nav {
        top:0px;
        padding-top:0%;
    }
    .dropdown{
        width:400px;
        margin-top:0px;
    }
    .dropdown ul.dropdown-menu {
        margin-left: 0;
    }
    div.tmsa_user_page{
        padding-top: 5%;
        margin-left: 0;
        margin-right: 0;
    }
    .panel_foot{
        font-size: 70%;
    }
    .view-order{
        margin-left: 1%;
        margin-right: 1%;
    }
    .button_login{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .button_logina{
        margin-left: 30%;

    }
    .tsma_form{
        padding-top:8%;
        padding-right: 5%;
        padding-left:5%;
        background: rgba(59, 171, 160, 0.1);
        margin-left: 5%;
        margin-right: 5%;
        margin-top:10%;
        padding-bottom: 5%;
    }
    div.tmsa_user_page_login {
        padding-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .home_icon{
        padding-left:10%;
    }
    .tmsa_main_body {
        height: auto;
    }
    .create_order{
        height: 30px;
        font-size:80%;
        font-weight: bolder;
    }
    .h4{
        font-size:70%;
    }
}
@media all and (max-width: 764px) and (min-width: 601px) {
    .side_bar {
        background-color: #3baba0;
        height: 50px;
    }
    .text-primary {
        color: #e6a756!important;
    }
    .invoice_header{
        font-size: 70%;
    }
    .nav {
        top:0px;
        padding-top:0%;
    }
    .dropdown{
        width:300px;
    }
    .dropdown ul.dropdown-menu {
        margin-left: 0;
    }
    div.tmsa_user_page{
        padding-top: 5%;
        margin-left: 0;
        margin-right: 0;
    }
    .panel_foot{
        font-size: 70%;
    }
    .view-order{
        margin-left: 1%;
        margin-right: 1%;
    }
    .button_login{
        margin-left: 30%;
        margin-right: 30%;
    }
    .tmsa_main_body {
        height: auto;
    }
    .create_order{
        height: 30px;
        font-size:100%;
        font-weight: bolder;
    }
    .h4{
        font-size:80%;
    }
}
@media all and (max-width: 970px) and (min-width: 764px) {
    .side_bar {
        background-color: #3baba0;
        height: 50px;
    }
    .text-primary {
        color: #e6a756!important;
    }
    .tmsa{
        background-color: transparent;
        height:100vh;
    }
    .row{
        height:auto;
    }
    .navbar-toggle {
        display: inline-block;
    }
    .invoice_header{
        font-size: 90%;
    }
    .nav {
        padding-top:0%;
        top:0px;
        background-color: transparent;
    }
    .dropdown{
        width:700px;
    }
    .dropdown ul.dropdown-menu {
        margin-left: 0;
        width: 700px;
    }
    div.tmsa_user_page{
        padding-top: 5%;
        margin-left: 0%;
        margin-right: 0;
    }
    .panel_foot{
        font-size: 70%;
    }
    .view-order{
        margin-left: 1%;
        margin-right: 1%;
    }
    .button_login{
        /*margin-left: 40%;*/
        /*margin-right: 40%;*/
    }
    .tmsa_main_body {
        height: 100vh;
    }
    .create_order{
        height: 30px;
        font-size:120%;
        font-weight: bolder;
    }
    .h4{
        font-size:90%;
    }
    body{
        height: auto;
    }
}
/*@media all and (max-width: 1950px) and (min-width: 971px) {*/
    /*.side_bar {*/
        /*background-color: #232323;*/
        /*height: 100vh;*/
    /*}*/
    /*.tmsa{*/
        /*background-color: transparent;*/
        /*height:100vh;*/
    /*}*/
    /*.row{*/
        /*height:100vh;*/
    /*}*/
    /*.navbar-toggle {*/
        /*display: none;*/
    /*}*/
    /*.invoice_header{*/
        /*font-size: 90%;*/
    /*}*/
    /*.nav {*/
        /*padding-top:0%;*/
        /*top:0px;*/
        /*background-color: #232323;*/
    /*}*/
    /*.dropdown{*/
        /*width:230px;*/
    /*}*/
    /*.dropdown ul.dropdown-menu {*/
        /*margin-left: 0;*/
        /*width: 200px;*/
    /*}*/
    /*div.tmsa_user_page{*/
        /*padding-top: 5%;*/
        /*margin-left: 0%;*/
        /*margin-right: 0;*/
    /*}*/
    /*.panel_foot{*/
        /*font-size: 70%;*/
    /*}*/
    /*.view-order{*/
        /*margin-left: 1%;*/
        /*margin-right: 1%;*/
    /*}*/
    /*.button_login{*/
        /*margin-left: 40%;*/
        /*margin-right: 40%;*/
    /*}*/
    /*.tmsa_main_body {*/
        /*height: 100vh;*/
    /*}*/
    /*.create_order{*/
        /*height: 30px;*/
        /*font-size:120%;*/
        /*font-weight: bolder;*/
    /*}*/
    /*.h4{*/
        /*font-size:90%;*/
    /*}*/
    /*body{*/
        /*height: auto;*/
    /*}*/
/*}*/

