@media (min-width: 768px) and (max-width: 1024px)
{.location-title h1{margin-top:0!important;font-size:32px!important}}
@media (min-width: 1200px) and (max-width: 1280px){.container{width:100%!important}
.location-content{height:395px!important}
.location-center{vertical-align:top!important}
.location-search{width:95%!important}
.work-block{width:100%!important}container{width:100%!important}
.location-title h1{
  font-size:30px!important;
  margin-bottom:0!important;
  margin-top:0!important}

.work-info p{height:110px!important}.ben-pad{padding-left:10px!important}.benefits-info1 p{padding-right:0!important}.banner-header{height:auto}.inner_menu .lo{position:relative;width:235px;margin-top:17px}.inner_menulist li a{padding:16px 18px}.inner_menulist{float:none!important;text-align:center!important}.inner_menulist li{float:none!important;text-align:center!important;display:inline-block!important}.navbar-header-res{width:235px;margin:auto;float:none}#SelectedWeightVal{width:85px!important}.tab-border-al{border-left:0 solid #e0e0e0!important;border-top:1px solid #e0e0e0}.order-overflow{overflow:hidden}.order-steps-line{width:80%}.order-steps li{width:85px}.alert-pop-up-content{width:610px!important}.report-select label{padding:0;padding-right:5px}.user-list-btn input{margin-bottom:5px}.popup-detail-width{width:100%!important}.common-table-head-ch2 tr td{min-width:100%!important}#no-more-tables table,#no-more-tables thead,#no-more-tables tbody,#no-more-tables th,#no-more-tables td,#no-more-tables tr,#no-more-tables table1,#no-more-tables1 thead,#no-more-tables1 tbody,#no-more-tables1 th,#no-more-tables1 td,#no-more-tables1 tr{display:block;padding-left:0;padding-right:0}#no-more-tables thead tr,#no-more-tables1 thead tr{position:absolute;top:-9999px;left:-9999px}#no-more-tables td,#no-more-tables1 td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:68%;white-space:normal;text-align:left}#no-more-tables td:before,#no-more-tables1 td:before{position:absolute;top:6px;left:6px;width:45%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:700;content:attr(data-title)}.common-table-head-ch2 tr td{min-width:100%!important}.footer-logo{float:right}.footer-logo p,.footer-logo p a{display:block!important}


}
@media (min-width: 992px) and (max-width: 1199px){.location-content{height:375px!important}.location-center{vertical-align:top!important}
.location-search{width:95%!important}.work-block{width:100%!important}.work-info p{height:110px!important}.ben-pad{padding-left:10px!important}.booking-label-changes label{left:-75px!important}.benefits-info1 p{padding-right:0!important}.banner-header{height:auto}
.location-title h1{margin-top:0!important;font-size:32px!important}.inner_menu .lo{position:relative;width:235px;margin-top:17px}.inner_menulist li a{padding:16px 10px}.inner_menulist{float:none!important;text-align:center!important}.inner_menulist li{float:none!important;text-align:center!important;display:inline-block!important}.navbar-header-res{width:235px;margin:auto;float:none}#SelectedWeightVal{width:85px!important}.tab-border-al{border-left:0 solid #e0e0e0!important;border-top:1px solid #e0e0e0}.order-overflow{overflow:hidden}.order-steps-line{width:80%}.order-steps li{width:85px}.alert-pop-up-content{width:610px!important}.report-select label{padding:0;padding-right:5px}.user-list-btn input{margin-bottom:5px}.popup-detail-width{width:100%!important}.common-table-head-ch2 tr td{min-width:100%!important}#no-more-tables table,#no-more-tables thead,#no-more-tables tbody,#no-more-tables th,#no-more-tables td,#no-more-tables tr,#no-more-tables table1,#no-more-tables1 thead,#no-more-tables1 tbody,#no-more-tables1 th,#no-more-tables1 td,#no-more-tables1 tr{display:block;padding-left:0;padding-right:0}#no-more-tables thead tr,#no-more-tables1 thead tr{position:absolute;top:-9999px;left:-9999px}#no-more-tables td,#no-more-tables1 td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:68%;white-space:normal;text-align:left}#no-more-tables td:before,#no-more-tables1 td:before{position:absolute;top:6px;left:6px;width:45%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:700;content:attr(data-title)}.common-table-head-ch2 tr td{min-width:100%!important}.footer-logo{float:right}.footer-logo p,.footer-logo p a{display:block!important}

}
@media (min-width: 768px) and (max-width: 991px){.location-content{height:390px!important}.location-center{vertical-align:middle!important}.location-search{width:95%!important}.work-block,.about-title p,.benifits-overlay{width:100%!important}.work-info p{height:110px!important}.ben-pad{padding-left:30px!important}.booking-label-changes label{left:0!important}.benefits-info1 p{padding-right:0!important}
.location-title h1{font-size:26px!important;margin-top:0!important}.quote-btn a{font-size:14px!important;padding:5px!important}
.benifits-bg-im{display:none!important}.banner-header{height:auto}.footer-logo{float:right}.footer-logo p,.footer-logo p a{display:block!important}#SelectedWeightVal{width:85px!important}.tab-border-al{border-left:0 solid #e0e0e0!important;border-top:1px solid #e0e0e0}.pad-rt-change{padding-right:10px}.map-ht{width:35%}.price-btn .book_btn{padding:15px!important}.order-overflow{overflow:hidden}.order-steps-line{width:80%}.alert-pop-up-content{width:610px!important}.order-steps li{width:85px}.profile-pad{padding:0 20px}.inner_menu .lo{position:relative;width:235px;margin-top:17px}.inner_menulist li a{padding:16px 10px}.inner_menulist{float:none!important;text-align:center!important}.inner_menulist li{float:none!important;text-align:center!important;display:inline-block!important}.navbar-header-res{width:235px;margin:auto;float:none}.report-select label{padding:0;padding-right:5px}.user-list-btn input{margin-bottom:5px}.popup-detail-width,.notification-pop-up-content{width:100%!important}#no-more-tables table,#no-more-tables thead,#no-more-tables tbody,#no-more-tables th,#no-more-tables td,#no-more-tables tr,#no-more-tables table1,#no-more-tables1 thead,#no-more-tables1 tbody,#no-more-tables1 th,#no-more-tables1 td,#no-more-tables1 tr{display:block;padding-left:0;padding-right:0}#no-more-tables thead tr,#no-more-tables1 thead tr{position:absolute;top:-9999px;left:-9999px}#no-more-tables td,#no-more-tables1 td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:68%;white-space:normal;text-align:left}#no-more-tables td:before,#no-more-tables1 td:before{position:absolute;top:6px;left:6px;width:45%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:700;content:attr(data-title)}.market-action-btn{margin-top:10px}.quote-bdr-left{border-left:0 solid #c8c8c8;border-top:1px solid #c8c8c8}.common-table-head-ch2 tr td{min-width:100%!important}}
@media (max-width: 767px){
  .logo img{
    right:0!important;
    height:50px !important;
    width: 250px !important; 
  
  }
  .location-content{height: 1035px!important;}


  .location-search{width:90%!important}
  .content-d-service {height:auto !important}
  .booking-label-changes label{left:0!important}#SelectedWeightVal{width:88px!important;display:inline-block!important;font-size:14px!important}

.work-block,.about-title p,.benifits-overlay,.carousel-caption p{width:100%!important}.work-info p{height:110px!important}.ben-pad{padding-left:30px!important}.benefits-info1 p{padding-right:0!important}
.location-title h1{
  font-size:16px!important;
  position: relative;
  font-family: 'Nunito';
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  right: 0;
  margin: 0;
  display: block;
  padding: 10px 0;
  margin-bottom: 20px!important;
  margin-top: 70px!important;
  word-spacing: 5px !important;
}

.work-block-horizontal {
  height:270px !important;
}
.p-horizon { 
  padding-left:30px !important;
}

.work-block-horizontal2 {
  height:270px !important;
}

.image-client img {
  width:40% !important;
  margin-right:20px !important;
}

.animate-h1 {
  margin-left:20px !important;
  margin-right: 20px !important;
  }


}
.quote-btn a{font-size:14px!important;padding:5px!important}.benifits-bg-im{display:none!important}.quote-btn{margin-top:25px!important}.location-center{vertical-align:top!important;padding-top:5px!important}

.about-btn a{display:block;margin-bottom:10px!important}
.Ineedtrucks-btn a{display:block;margin-bottom:10px!important}
.about-btn{width:285px;margin:auto}
.Ineedtrucks-btn{width:285px;margin:auto}

h2{font-size:22px!important}h3{font-size:18px!important}p,a{font-size:14px!important}.view-all .input-btn-home,.right-info p,.right-info a,.lay_QuoteBtn{font-size:12px!important}.social,.work-block-al,.about-btn{margin-top:10px!important}

.banner-header{height:auto!important}.logo-section{padding:0!important;margin-bottom:5px!important}

.logo {
  height:50px !important;
}
.right-info a{}.right-info{padding:16px 5px!important;padding-top:5px!important}.system-width{width:100%!important;margin-left:0!important}.search-header{margin-bottom:15px}.remember-txt p label{padding-right:0!important;font-size:13px}.dwn-arw{bottom:10px!important}.system-width{width:100%;margin-top:10px!important}.input-block{margin-top:0}.input-block label{margin-top:5px;font-size:12px}.frm-tx2 input{margin-bottom:2px!important}.system-popup-title h2{padding-top:8px!important}.input-block span,.forgot a,.remember-txt p label{font-size:12px!important}.view-all{margin-top:5px;margin-bottom:5px}.view-all .input-btn-home{padding:7px 15px}.system-popup-title h2{font-size:18px!important}.drp-mnu-change1 li a{text-align:left!important}.drp-mnu-change1{float:none!important}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus,.drp-mnu-change li a{text-align:left}.footer-logo{float:right}.footer-logo p,.footer-logo p a{display:block!important}.footer-logo p span img{width:100%;margin-bottom:10px}.footer-logo p{width:100%}.footer-logo span:after{display:none}#SelectedWeightVal{width:85px!important}.tab-border-al{border-left:0 solid #e0e0e0!important;border-top:1px solid #e0e0e0}.pad-rt-change{padding-right:10px}.map-ht{width:100%;position:relative;height:620px!important}.ui-widget.ui-widget-content{width:100%!important}.alert-pop-up-content,.missing-popup-content{width:98%}.dropdown{margin-top:10px}.price-btn .book_btn{padding:8px 20px;font-size:14px}.price-label p,.price-label h3{display:inline-block}.quote-detail-width{width:98%}.quote-popup-height{height:400px;overflow:scroll}.order-overflow{overflow:hidden}.order-steps-line{width:80%;display:none}.order-steps li{width:75px;margin-top:10px}.order-res-pad{padding:0}.search-ic{position:absolute;right:10px;top:56px}.trackcancel-btn button{padding:6px 10px}.alert-pop-up-content-wt,.pop-up-trackorder-content{width:100%!important}.notification-btn a{padding:5px}.profile-pad{padding:0 10px}.tb-lt1 li{border:2px solid #1a74bc!important;border-radius:0!important}.payment-btn button{padding:10px;font-size:14px}.control{font-size:14px}.debit-txt-box-change{margin-top:0}.pad-res-ch{padding:0 15px!important}.alert-pop-up-content{margin-top:30px!important}.payment-popup-title h2{font-size:15px!important}.inner_menu .lo{position:relative;width:235px;margin-top:17px}.inner_menulist li a{padding:5px 10px}.inner_menulist{float:none!important;text-align:left!important}.inner_menulist li{float:none!important;text-align:left!important;display:inline-block!important;width:100%}.report-select label{padding:0;padding-right:5px}.user-list-btn input{margin-bottom:5px}.user-list-label{margin-bottom:20px}.search-ic2{position:absolute;right:40px;top:82px}.popup-detail-width{width:98%}.close-popup{top:4px!important}.popup-detail-block{word-break:break-word}.tb-lt1 li,.notification-pop-up-content,.alert-pop-up-content{width:100%!important}.common-table-head-ch2 tr td{min-width:100%!important}#no-more-tables table,#no-more-tables thead,#no-more-tables tbody,#no-more-tables th,#no-more-tables td,#no-more-tables tr,#no-more-tables table1,#no-more-tables1 thead,#no-more-tables1 tbody,#no-more-tables1 th,#no-more-tables1 td,#no-more-tables1 tr{display:block;padding-left:0;padding-right:0}#no-more-tables thead tr,#no-more-tables1 thead tr{position:absolute;top:-9999px;left:-9999px}#no-more-tables td,#no-more-tables1 td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:68%;white-space:normal;text-align:left}#no-more-tables td:before,#no-more-tables1 td:before{position:absolute;top:6px;left:6px;width:45%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:700;content:attr(data-title)}.market-action-btn{margin-top:10px}.report-im{height:auto}.report-title2 p{margin-top:0}.pagination-btn{margin-top:0;word-break:break-word;line-height:30px}.fn-btm .pad-left{padding-left:10px!important}.label-text,.market-label label,.rate-text{width:100%!important}.textbox_value{margin-bottom:10px}.quote-bdr-left{border-left:0 solid #c8c8c8;border-top:1px solid #c8c8c8}.search-ic1{top:55px}.dashboard-al{margin-top:10px;margin-bottom:10px}.dashboard-content-title{height:155px}#no-more-tables td,#no-more-tables1 td{padding-left:50%}.cls-change{right:0!important}.cls-change img{max-width:70%!important}.drp-mnu-change li a{text-align:left}.footer-logo p a{top:0!important}.shippment-padding{padding-right:0}.missing-popup-content {width:98%!important;margin:1%!important;}}
@media screen and (max-width: 600px) {
  .map-ht {
    visibility: hidden !important;
    display: none !important;
  }
 
}



/* max: that any device  below */
/* min: that any device  above */
@media (min-width: 990px)  {
  
    .device-check2 {margin-left: 60px !important;}
 
}

/* @media only screen and (max-width: 479px) and (min-width: 280px){
.mm-toggle {
    display: block;
    padding: 0px;
}
} */

@media (min-width: 850px) {
  .mobile-version-mv {
    display:none !important;
    
  }
  .desktop-vs {
    display:block !important;
  }
  .mobile-image-s {
    display:none;
  }
  .loginClr {
    margin-right:5px;
  }
}


@media (max-width: 850px) {
  .mobile-version-mv {
   
    
  }
  .mobile-image-s {
    width:100%;margin-top:50px;
  }
  .desktop-vs {
    display:none !important;
  }
}


/* mobile version another */

@media (max-width:320px){

  .work-block-horizontal {
    height:340px !important;
  }
  .p-horizon { 
    padding-left:30px !important;
  }
  
  .work-block-horizontal2 {
    height:340px !important;
  }
}


@media (max-width:992px){
  .container-fluid{margin-right:auto;margin-left:auto}
  #benefits {
    padding-left:10px;
    padding-right:10px;
  }

  .work-block-horizontal {
    height:270px !important;
  }
  .p-horizon { 
    padding-left:30px !important;
  }
  
  .work-block-horizontal2 {
    height:270px !important;
  }

  #our-services-mv {
    margin-left:10px;
    margin-right:10px;
  }
  .about-title {
    margin-left:10px;
    margin-right:10px;
  }
  #board-members {
    margin-left:10px;
    margin-right:10px;
  }
  #footer-mv{
    padding-left:10px;
    padding-right:10px;
  }
  .contact-map {
    margin-top:48px !important;
    width:94%!important;
}

.contact-al {
  padding-bottom: 60px;
  margin:20px;
}

.about-btn button {
  position: relative;
  color: #FFA500;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 8px 20px !important;
  margin: 0 8px;
  background-color:transparent;
  border: 2px solid #FFA500;
  font-family: 'Nunito';
  font-weight: 700;
  border-radius: 4px;
}

  .banner {
    position: relative;
    background: url(../images/truck_buses_tab.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-size: 100%;
    /* height: 790px !important; */
    height: 1199px !important;
}
.benifits-bg-im-22 {
  display:none;
}

.banner-adjust {
  position: relative;
  background: url(../images/truck_buses_tab.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-size: 100%;
  height: 800px  !important;
}

.location-content-adjust {
position: relative;
width: 100%;
background: rgba(23, 23, 23, 0.95) !important;
border-radius: 5px;
height: 630px !important;
margin-right:80px;
}

/* .location-title h1{ 
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
} */


  
}

/* end mobile version */


